/* Navigation with logo on the left and links on the right */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Equal width cards */
.card {
    flex: 1 1 300px;
    min-width: 0;      /* This prevent overflow */
}

/* Sticky footer */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex: 1;
}

/* Mobile first approach */
body {
    padding: 1rem;
}
/* Tablet */
@media screen and (min-width: 768px) {
    body {
        padding: 2rem;
        max-width: 720px;
    }
}
/* Desktop */
@media screen and (min-width: 1024px) {
    body {
        max-width: 960px;
    }
}

/* Large Desktop */
@media screen and (min-width: 1280) {
    body {
        max-width: 1200px;
    }
}